.login-option{
    background: linear-gradient(90deg, rgb(24, 24, 26) 0%, rgb(152, 151, 160) 100%);
    position:absolute;
    margin: 350px;
    padding: 100px;
    padding-top: 50px;
    margin-top: 30px;
    border-radius: 30px;
    box-shadow:0 0 15px 4px rgba(0,0,0,0.10);
}

.client{
    padding-left: 100px;
    padding-right: 100px;
    
}

.man{
    padding-left: 90px;
    padding-right: 50px;
}

.sales-rep{
    padding-left: 50px;
    padding-right: 50px;
}

.l{
    font-size: 900px;
    font-weight: 100;
    border: 3px;
    border-style: groove;
}

